fastapi==0.115.6
uvicorn[standard]==0.34.0
python-multipart==0.0.20
pydantic==2.10.5
python-dotenv==1.0.1
playwright==1.49.1
Pillow==11.1.0
numpy==2.2.1
opencv-python-headless==4.11.0.86
ImageHash==4.3.1
scipy==1.15.1
requests==2.32.3
pystray==0.19.5
pyinstaller==6.22.2
